@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFEDD5;
}

ul {
    list-style: none;
}

/*Fonts*/

h1, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: #2D2C2A;
}

/*Header*/

header {
    padding: 32px 0;
    text-align: center;
}

header, section {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

header h1 span {
    color: #995000;
}

header p {
    font-size: 14px;
    line-height: 16px;

    color: rgb(0, 0, 0, 0.7);
}

/*section*/

section {
    margin-bottom: 24px;
}

section h2 {
    background-color: #FED7AA;

    padding: 8px 16px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
}

ul li {
    margin-bottom: 16px;
    display: flex;
}

li .details {
    max-width: 240px;
}

.details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}

.details P {
    font-size: 14px;
    color: rgb(0, 0, 0, 0.6);
    line-height: 21px;
}